@model Store.Model.ViewModel.CheckOutVM
@using Omega_Store.Services
@inject LoginValidator loginValidator

@{
    ViewData["Title"] = "Orders Manager";
    int count = 0;
    var thisShop = await loginValidator.GetShop();
}


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Breadcrumb Start -->
<section class="breadcrumb__section breadcrumb__bg">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <div class="breadcrumb__content text-center">
                    <h1 class="breadcrumb__content--title text-white mb-25">Orders Manager</h1>
                    <ul class="breadcrumb__content--menu d-flex justify-content-center">
                        <li class="breadcrumb__content--menu__items"><a class="text-white" asp-action="index" asp-controller="home">Home</a></li>
                        <li class="breadcrumb__content--menu__items"><a class="text-white" asp-action="index" asp-controller="manager">Manager</a></li>
                        <li class="breadcrumb__content--menu__items"><span class="text-white">Orders</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="container-fluid">

    <div class="row px-xl-5 mt-3">
        <div class="col-12 mb-5">
            <div class="contact-form p-30 mt-3">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>S/N</th>
                            <th>TrackID</th>
                            <th>Date</th>
                            <th>Date</th>
                            <th class="nowrap">Shipping Tel</th>
                            <th class="nowrap">Buyer Mail</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                        @foreach (var order in Model.Orders)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td><a asp-action="orders" asp-controller="manager" asp-route-ref="@order.Ref" class="text-info">@order.Ref</a></td>
                                <td class="nowrap">
                                    @if (order.IsFinished)
                                    {
                                        <span>Completed</span>
                                    }
                                    else if (order.IsPaid)
                                    {
                                        <span>Paid</span>
                                    }
                                    else
                                    {
                                        <span>Not Paid</span>
                                    }
                                </td>
                                <td class="nowrap">@order.DateCreated.ToString("g")</td>
                                <td><a href="tel:@order.Tel" class="text-success"><i class="fa fa-phone"></i> Call</a></td>
                                <td><a href="mailto:@order.Mail" class="text-black"><i class="fa fa-envelope"></i> Mail</a></td>
                                <td><a class="text-info" asp-action="tracking" asp-controller="manager" asp-route-orderRef="@order.Ref"><i class="fa fa-link"></i> Track</a></td>
                                <td><a href="" class="text-danger"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Contact End -->