@model Store.Model.ViewModel.MainVM
@{
    ViewData["Title"] = "Order";
    decimal subTotal = 0;
    string symbol = "";
    int count = 0;
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-md-6 p-30 bg-light mb-3">
            <details>
                <summary>
                    <h6 class="text-info">View Billing Details ></h6>
                </summary>
                <hr />
                <h2>Billing Details</h2>
                <table class="table">
                    <tr>
                        <td class="nowrap bold">Name: </td>
                        <td><p>@Model.BillingDetail.LName @Model.BillingDetail.FName</p></td>
                    </tr>
                    <tr>
                        <td class="nowrap bold">Telephone: </td>
                        <td><p>@Model.BillingDetail.Tel</p></td>
                    </tr>
                    <tr>
                        <td class="nowrap bold">Address 1: </td>
                        <td><p>@Model.BillingDetail.Addr1</p></td>
                    </tr>
                    <tr>
                        <td class="nowrap bold">Address 2:</td>
                        <td><p>@Model.BillingDetail.Addr2</p></td>
                    </tr>
                    <tr>
                        <td class="nowrap bold">City: </td>
                        <td><p>@Model.BillingDetail.City</p></td>
                    </tr>
                    <tr>
                        <td class="nowrap bold">State: </td>
                        <td><p>@Model.BillingDetail.State</p></td>
                    </tr>
                    <tr>
                        <td class="nowrap bold">Country: </td>
                        <td><p>@Model.BillingDetail.Country</p></td>
                    </tr>
                    <tr>
                        <td class="nowrap bold">Zip Code: </td>
                        <td><p>@Model.BillingDetail.Zip</p></td>
                    </tr>
                    <tr>
                        <td class="nowrap bold">Date: </td>
                        <td><p>@Model.BillingDetail.DateCreated.ToString("F")</p></td>
                    </tr>
                </table>
            </details>
        </div>
      
            <div class="col-md-6 p-30 bg-light mb-3">
            <details>
                <summary>
                    <h6 class="text-info">View Shipping Details ></h6>
                </summary>
                <hr />
                <h2>Shipping Details</h2>
                 @if (Model.ShippingDetail != null && Model.ShippingDetail.ID != default)
                {
                    <table class="table">
                        <tr>
                            <td class="nowrap bold">Name: </td>
                            <td><p>@Model.ShippingDetail.LName @Model.ShippingDetail.FName</p></td>
                        </tr>
                        <tr>
                            <td class="nowrap bold">Telephone: </td>
                            <td><p>@Model.ShippingDetail.Tel</p></td>
                        </tr>
                        <tr>
                            <td class="nowrap bold">Address 1: </td>
                            <td><p>@Model.ShippingDetail.Addr1</p></td>
                        </tr>
                        <tr>
                            <td class="nowrap bold">Address 2:</td>
                            <td><p>@Model.ShippingDetail.Addr2</p></td>
                        </tr>
                        <tr>
                            <td class="nowrap bold">City: </td>
                            <td><p>@Model.ShippingDetail.City</p></td>
                        </tr>
                        <tr>
                            <td class="nowrap bold">State: </td>
                            <td><p>@Model.ShippingDetail.State</p></td>
                        </tr>
                        <tr>
                            <td class="nowrap bold">Country: </td>
                            <td><p>@Model.ShippingDetail.Country</p></td>
                        </tr>
                        <tr>
                            <td class="nowrap bold">Zip Code: </td>
                            <td><p>@Model.ShippingDetail.Zip</p></td>
                        </tr>
                        <tr>
                            <td class="nowrap bold">Date: </td>
                            <td><p>@Model.ShippingDetail.DateCreated.ToString("F")</p></td>
                        </tr>
                    </table>
                }
                else
                {
                    <hr />
                    <div>Same with billing details</div>
                }
                
            </details>          
            </div>
      
    </div>
    <div class="row px-xl-5">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Cost</th>
                </tr>
                @foreach (var orderItem in Model.OrderItems)
                {
                    count++;
                    var totalLabel = @orderItem.ID + "TotalLabel";
                    var total = orderItem.Qty * orderItem.Price;
                    subTotal += total;
                    symbol = orderItem.CurrenySymbol;

                    <tr>
                        <td class="align-middle"><img src="@orderItem.Image" alt="" style="width: 50px;"> <a asp-action="item" asp-controller="shop" class="text-dark" asp-route-t="@orderItem.Tag">@orderItem.ItemName</a></td>
                        <td class="align-middle">@orderItem.CurrenySymbol@orderItem.Price</td>
                        <td class="align-middle">@orderItem.Qty</td>
                        <td class="align-middle">@orderItem.CurrenySymbol<span id="@totalLabel">@total</span></td>
                    </tr>
                }
                @if (Model.OrderItems.Count() > 0)
                {
                    <tr>
                        <td class="bold" colspan="3">Total</td>
                        <td class="bold">@Model.OrderItems.First().CurrenySymbol@subTotal</td>
                    </tr>
                }
               
            </table>
        </div>
      
        <div class="col-12 text-center p-30 bg-light">

        </div>
    </div>

</div>