@model IEnumerable<Store.Model.ViewModel.OrderVM>
@{
    var total = Model.Sum(o => o.Qty * o.Price);
}
<div class="minicart__product">
    @foreach (var orderItem in Model){
        <div class="minicart__product--items d-flex">
            <div class="minicart__thumb">
                <a asp-action="item" asp-controller="shop" asp-route-t="@orderItem.Tag"><img src="@orderItem.Image" alt="prduct-img"></a>
            </div>
            <div class="minicart__text">
                <h4 class="minicart__subtitle"><a asp-action="item" asp-controller="shop" asp-route-t="@orderItem.Tag">@orderItem.ItemName</a></h4>
                <div class="minicart__price">
                    <span class="current__price">@orderItem.Price</span>
                </div>
                <div class="minicart__text--footer d-flex align-items-center">
                    <div class="quantity__box minicart__quantity">
                        <button type="button" class="quantity__value decrease" aria-label="quantity value" value="Decrease Value">-</button>
                        <label>
                            <input type="number" class="quantity__number" value="@orderItem.Qty" data-counter />
                        </label>
                        <button type="button" class="quantity__value increase" aria-label="quantity value" value="Increase Value">+</button>
                    </div>
                    <button class="minicart__product--remove" type="button">Remove</button>
                </div>
            </div>
        </div>
    }
   
</div>
<div class="minicart__amount">
   @*  <div class="minicart__amount_list d-flex justify-content-between">
        <span>Sub Total:</span>
        <span><b>₦240.00</b></span>
    </div> *@
    <div class="minicart__amount_list d-flex justify-content-between">
        <span>Total:</span>
        <span><b>₦@total</b></span>
    </div>
</div>