@model IEnumerable<Store.Model.ViewModel.OrderVM>
@{
    decimal subTotal = 0;
    decimal shipping = 0;
    string symbol = "";
    int count = 0;
}
<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0" id="cartTable">
                <thead class="thead-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @foreach (var orderItem in Model)
                    {
                        count++;
                        var addBtn = @orderItem.ID + "Add";
                        var minusBtn = @orderItem.ID + "Minus";
                        var totalLabel = @orderItem.ID + "TotalLabel";
                        var total = orderItem.Qty * orderItem.Price;
                        subTotal += total;
                        symbol = orderItem.CurrenySymbol;
                        <tr>
                            <td class="align-middle"><img src="@orderItem.Image" alt="" style="width: 50px;"> <a asp-action="item" asp-controller="shop" class="text-dark" asp-route-t="@orderItem.Tag">@orderItem.ItemName</a></td>
                            <td class="align-middle">@orderItem.CurrenySymbol@orderItem.Price</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" id="@minusBtn" onclick="ResolveQuantity('minus', '@orderItem.ID', '@orderItem.Price', '@totalLabel','@orderItem.ID')">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" id="@orderItem.ID" value="@orderItem.Qty" onchange="ResolveQuantity('direct', '@orderItem.ID', '@orderItem.Price', '@totalLabel','@orderItem.ID')">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus" id="@addBtn" onclick="ResolveQuantity('add', '@orderItem.ID', '@orderItem.Price', '@totalLabel','@orderItem.ID')">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">@orderItem.CurrenySymbol<span id="@totalLabel">@total</span></td>
                            <td class="align-middle"><button class="btn btn-sm btn-danger" onclick="RemoveFromCart('@orderItem.ID', '@count','@totalLabel')"><i class="fa fa-times"></i></button></td>
                        </tr>
                    }
                    <tr>
                        <td colspan="5">
                            <button class="btn btn-danger" onclick="ClearCart()">Clear Cart <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping Method</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <select name="shipping" class="form-control">
                            <option>- Select Shipping Type -</option>
                       </select>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <select name="shipping" class="form-control">
                            <option>- Select Shipping Location -</option>
                       </select>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                       <select name="shipping" class="form-control">
                            <option>- Select Shipping Area -</option>
                       </select>
                    </div>
                </div>
              
            </div>

            <form class="mb-30" action="">
                <div class="input-group">
                    <input type="text" class="form-control border-0 p-4" readonly placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary" disabled>Apply Coupon</button>
                    </div>
                </div>
            </form>
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>@symbol<span id="subTotal">@subTotal</span></h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium hidden">@symbol<span id="shipping">@shipping</span></h6>
                        <h6 class="font-weight-medium">N/A</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        @{subTotal = subTotal + shipping;}
                        <h5>Total</h5>
                        <h5>@symbol<span id="total">@subTotal</span></h5>
                    </div>
                    <a class="btn btn-block btn-primary font-weight-bold my-3 py-3" asp-action="checkout" asp-controller="shop">Proceed To Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
