@model Store.Model.ViewModel.MainVM
@using Omega_Store.Services;
@inject LoginValidator loginValidator
@{
    var store = await loginValidator.GetShop();
    ViewData["Title"] = Model.Stock.Title ;
    int optnCount = 0;
}

<main class="main__content_wrapper">

    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <h1 class="breadcrumb__content--title text-white mb-25">@Model.Stock.Title</h1>
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <li class="breadcrumb__content--menu__items"><a class="text-white" asp-action="index" asp-controller="home">Home</a></li>
                            <li class="breadcrumb__content--menu__items"><a class="text-white" asp-action="index" asp-controller="shop">Shop</a></li>
                            <li class="breadcrumb__content--menu__items"><span class="text-white">@Model.Stock.Title</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->
    <!-- Start product details section -->
    <section class="product__details--section section--padding">
        <div class="container">
            <div class="row row-cols-lg-2 row-cols-md-2">
                <div class="col">
                    <div class="product__details--media">
                        <div class="product__media--preview  swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product__media--preview__items">
                                        <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="@Model.Stock.Image">
                                            <img class="product__media--preview__items--img" src="@Model.Stock.Image" alt="product-media-img">
                                        <div class="product__media--view__icon">
                                            <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path></svg>
                                            <span class="visually-hidden">product view</span>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product__media--preview__items">
                                        <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="@Model.Stock.Image1">
                                            <img class="product__media--preview__items--img" src="@Model.Stock.Image1" alt="product-media-img">
                                        <div class="product__media--view__icon">
                                            <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path></svg>
                                            <span class="visually-hidden">product view</span>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product__media--preview__items">
                                        <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="@Model.Stock.Image2">
                                            <img class="product__media--preview__items--img" src="@Model.Stock.Image2" alt="product-media-img">
                                        <div class="product__media--view__icon">
                                            <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path></svg>
                                            <span class="visually-hidden">product view</span>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product__media--preview__items">
                                        <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="@Model.Stock.Image3">
                                            <img class="product__media--preview__items--img" src="@Model.Stock.Image3" alt="product-media-img">
                                        <div class="product__media--view__icon">
                                            <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path></svg>
                                            <span class="visually-hidden">product view</span>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product__media--preview__items">
                                        <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="@Model.Stock.Image4">
                                            <img class="product__media--preview__items--img" src="@Model.Stock.Image4" alt="product-media-img">
                                        <div class="product__media--view__icon">
                                                <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path></svg>
                                                <span class="visually-hidden">product view</span>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__media--nav swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product__media--nav__items">
                                        <img class="product__media--nav__items--img" src="@Model.Stock.Image" alt="product-nav-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product__media--nav__items">
                                        <img class="product__media--nav__items--img" src="@Model.Stock.Image1" alt="product-nav-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product__media--nav__items">
                                        <img class="product__media--nav__items--img" src="@Model.Stock.Image2" alt="product-nav-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product__media--nav__items">
                                        <img class="product__media--nav__items--img" src="@Model.Stock.Image3" alt="product-nav-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product__media--nav__items">
                                        <img class="product__media--nav__items--img" src="@Model.Stock.Image4" alt="product-nav-img">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper__nav--btn swiper-button-next"></div>
                            <div class="swiper__nav--btn swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="product__details--info">
                        <div >
                            <h2 class="product__details--info__title mb-15">@Model.Stock.Title</h2>
                            <div class="product__details--info__price mb-15">
                                <span class="current__price">@Model.Stock.CurrencySymbol@Model.Stock.Price</span>
                                @if (Model.Stock.OldPrice > 0)
                                {
                                    <span class="old__price">@Model.Stock.CurrencySymbol@Model.Stock.OldPrice</span>
                                }
                            </div>
                            <div class="product__items--rating d-flex align-items-center mb-15">

                                <span class="product__items--rating__count--number">

                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= Model.Ratings)
                                        {
                                            <i class="fa fa-star text-warning"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-star-o"></i>
                                        }

                                    }
                                    (@Model.Reviews.Count())
                                </span>
                            </div>
                            <p class="product__details--info__desc mb-20">@Model.Stock.Brief</p>
                            <div class="product__variant">
                                @foreach(var feature in Model.Features){
                                    <div class="product__variant--list mb-4">
                                        <fieldset class="variant__input--fieldset">
                                            <legend class="product__variant--title mb-8">@feature.Name :</legend>
                                            <ul class="variant__size d-flex">
                                                @foreach (var option in feature.Options.Split(","))
                                                {
                                                    optnCount++;
                                                    var id = "option-" + optnCount;
                                                    <li class="variant__size--list">
                                                        <input id="@id" onclick="AddOption('@Model.Stock.ID','@feature.ID','@option', '@feature.Name')" name="@feature.ID" type="radio" value="@option">
                                                        <label class="variant__size--value" for="@id">@option</label>
                                                    </li>
                                                }
                                            </ul>
                                        </fieldset>
                                    </div>
                                  
                                }
                             
                                <div class="product__variant--list quantity d-flex align-items-center itemcart mb-4 mt-4">
                                    <div class="quantity__box">
                                        <button type="button" class="quantity__value quickview__value--quantity decrease" aria-label="quantity value" value="Decrease Value">-</button>
                                        <label>
                                            <input type="number" id="itemQty" class="quantity__number quickview__value--number" value="1" data-counter />
                                        </label>
                                        <button type="button" class="quantity__value quickview__value--quantity increase" aria-label="quantity value" value="Increase Value">+</button>
                                    </div>
                                    <button class="btn quickview__cart--btn" type="submit" onclick="ProcessItem('@Model.Stock.ID','itemQty')">Add To Cart</button>
                                </div>
                            
                                <div class="product__variant--list mb-15 mt-4 row">
                                    <div class="col-6">
                                        <a onclick="ToggleFave('@Model.Stock.ID')" class="variant__wishlist--icon btn mb-15" title="Add to wishlist">
                                            <svg class="quickview__variant--wishlist__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" /></svg>
                                            Add to Wishlist
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a class="variant__buy--now__btn btn" asp-action="cart" asp-controller="shop">View Cart</a>
                                    </div>
                                </div>
                             
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End product details section -->
    <!-- Start product details tab section -->
    <section class="product__details--tab__section section--padding">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <ul class="product__tab--one product__details--tab d-flex mb-30">
                        <li class="product__details--tab__list active" data-toggle="tab" data-target="#description">Description</li>
                        <li class="product__details--tab__list" data-toggle="tab" data-target="#reviews">Product Reviews</li>
                    </ul>
                    <div class="product__details--tab__inner border-radius-10">
                        <div class="tab_content">
                            <div id="description" class="tab_pane active show">
                                <div class="product__tab--content">
                                    @Html.Raw(Model.Stock.Description)
                                </div>
                            </div>
                            <div id="reviews" class="tab_pane">
                                <div class="product__reviews" id="reviewHolder">                                  
                                    <partial name="_review" model="@Model" />                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End product details tab section -->
    <!-- Start product section -->
    <section class="product__section product__section--style3 section--padding">
        <div class="container product3__section--container">
            <div class="section__heading3 text-center mb-40">
                <h2 class="section__heading3--maintitle">You may also like</h2>
            </div>
            <div class="product__section--inner product3__section--inner__padding product__section--style3__inner product__swiper--activation swiper">
                <div class="swiper-wrapper">
                    @foreach(var stock in Model.Stocks){
                        <div class="swiper-slide">
                            <div class="product__items product__items2">
                                <div class="product__items--thumbnail">
                                    <a class="product__items--link" asp-action="item" asp-controller="shop" asp-route-t="@stock.Tag">
                                        <img class="product__items--img product__primary--img" src="@stock.Image" alt="product-img">
                                        <img class="product__items--img product__secondary--img" src="@stock.Image1" alt="product-img">
                                    </a>
                                    <div class="product__badge">
                                        <span class="product__badge--items sale">Sale</span>
                                    </div>
                                    <ul class="product__items--action">
                                        <li class="product__items--action__list">
                                            <a class="product__items--action__btn" onclick="ToggleFave('@Model.Stock.ID')">
                                                <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" /></svg>
                                                <span class="visually-hidden">Wishlist</span>
                                            </a>
                                        </li>
                                        <li class="product__items--action__list">
                                            <a class="product__items--action__btn" data-open="modal1" onclick="QuickView('@stock.Tag')" href="javascript:void(0)">
                                                <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" /><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448" /></svg>
                                                <span class="visually-hidden">Quick View</span>
                                            </a>
                                        </li>
                                        <li class="product__items--action__list">
                                            <a class="product__items--action__btn" asp-action="compare" asp-controller="shop">
                                                <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M400 304l48 48-48 48M400 112l48 48-48 48M64 352h85.19a80 80 0 0066.56-35.62L256 256" /><path d="M64 160h85.19a80 80 0 0166.56 35.62l80.5 120.76A80 80 0 00362.81 352H416M416 160h-53.19a80 80 0 00-66.56 35.62L288 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" /></svg>
                                                <span class="visually-hidden">Compare</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product__items--content product__items2--content text-center">
                                    <a class="add__to--cart__btn" onclick="AddToCart('@stock.ID', 1, [])">+ Add to cart</a>
                                    <h3 class="product__items--content__title h4"><a asp-action="item" asp-controller="shop" asp-route-t="@stock.Tag">@stock.Title</a></h3>
                                    <div class="product__items--price">
                                        <span class="current__price">@stock.CurrencySymbol@stock.Price</span>
                                        @if (stock.OldPrice > 0)
                                        {
                                            <span class="old__price">@stock.CurrencySymbol@stock.OldPrice</span>
                                        }
                                    </div>
                                    <div class="product__items--rating d-flex justify-content-center align-items-center">
                                        <span class="product__items--rating__count--number">

                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= stock.Rating)
                                                {
                                                    <i class="fa fa-star text-warning"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star-o"></i>
                                                }

                                            }
                                            (@stock.Rating)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper__nav--btn swiper-button-next"></div>
                <div class="swiper__nav--btn swiper-button-prev"></div>
            </div>
        </div>
    </section>
    <!-- End product section -->
    <!-- Start shipping section -->
    <partial name="_floor" />
    <!-- End shipping section -->
</main>

<script>
  
    var features = [];
    var rating = 0;
    function AddOption(itemID, featureID, featureOption, featureName){
        var feature = {
            orderItemID : itemID,
            featureID : featureID,
            featureOption : featureOption,
            featureName: featureName
        }
        if (features.find(m => m.featureID == featureID) == undefined){
            features.push(feature);
        }else{
           var val = features.find(m => m.featureID == featureID);
            val.orderItemID = itemID;
            val.featureID = featureID;
            val.featureOption = featureOption;
            val.featureName = featureName;
        }
        
       // console.log(feature)
      //  console.log(features)
    }
 
 
  
    function ProcessRating(val) {
        var ratingHolder = document.getElementById('ratingHolder');
        ratingHolder.innerHTML = '';
        for (var i = 1; i <= 5; i++) {
            if (i <= val ) {
                ratingHolder.innerHTML += '<i class="fa fa-star mr-1" onclick="ProcessRating('+i+')"></i>';
                rating = i;
            }
            else {
                ratingHolder.innerHTML += '<i class="fa fa-star-o mr-1" onclick="ProcessRating(' + i + ')"></i>';
            }
        }
    }

    function ValidateReview(){
        var message = document.getElementById('message');
        var email = document.getElementById('email');
        var name = document.getElementById('name');
        if (rating == 0) {
            alertDanger("Rating is empty");
            return;
        } else if (message.value == "") {
            alertDanger("Review is empty");
            return;

        } else if ('@loginValidator.IsLoggedIn().ToString().ToLower()' == "false") {
            if (email.value == "" || name.value == "") {
                alertDanger("Complete all details");
                return;
            }
            SendReview('@Model.Stock.ID', message.value, name.value, email.value, rating);
        }
        else {
            SendReview('@Model.Stock.ID', message.value, "", "", rating);
        }
      
    }
</script>